@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Kosugi+Maru&family=Pacifico&display=swap');


*{
    margin: 0px;
   color: white;
   font-family: "Inter";
}

body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(55, 55, 55);
}

.card{
    background-color: #D69E36;
    width: 1280px;
    height: 660px;
    border-radius: 20px;
    padding: 30px 50px 1px 50px;
    display: flex;
    flex-direction: column;
    
}

.header{
    display: flex;
    justify-content: space-between;
}

.info{
    width: 150px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.city{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    width: 700px;
}

.locationIcons{
    width: 15px;
}

.climate{
    margin-bottom: 30px;
}

#description{
    font-size: 30px;
}

#degrees p{
    font-size: 60px;
}

.icon img{
    width: 250px;
}

.results{
    height: 20%;
    margin-top: 10px;
}

.inputField{
    background-color: #DEAB4D;
    padding: 40px 20px 100px 20px;
    border-radius: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputField p{
    width: 100%;
}

#searchBar::placeholder{
    color: #A5A5A5;
}

#searchBar{
    border: none;
    border-radius: 20px;
    width: 100%;
    color: black;
}

.otherResults{
    display: flex;
    justify-content: space-between;
}

.graph{
    background-color: #DEAB4D;
    height: 300px;
    width: 78%;
    border-radius: 20px;
}

.forecast5days{
    background-color: #DEAB4D;
    width: 20%;
    height: 300px;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.day{
    width: 100px;
    height: 30px;
}

#date{
    font-size: 13px;
}

@media screen and (max-width: 500px) {

    .card{
        width: 300px;
        height: 400px;
    }

    .info{
        height: 150px;
    }

    #degrees p{
        font-size: 20px;
    }

    #date{
        font-size: 8px;

    }

    .otherResults{
        display: block;
    }

    .graph{
        width: 100%;
    }

    .forecast5days{
        margin-top: 20px;
        width: 100%;
        overflow: auto;
    }

    .city{
        width: 200px;
    }

    .icon img{
        width: 100px;
    }

    .otherResults{
        height: 100px;
    }

    .forecast5days{
        height: 100px;
    }

    .graph{
        height: 100px;
    }
}